{{ partial "default_head.html" . }}

<div class="page">
  <h1 class="page-title">404</h1>
  <p>Oops! Sorry, we&rsquo;ve misplaced that URL or it&rsquo;s pointing to something that doesn&rsquo;t exist. Here are some URLs that have recently changed (as of early August 2017):</p>
  <ul>
  <li>URLs like <em>http://blog.scottlowe.org/tags/#tagname</em> have changed to <em><strong>http://blog.scottlowe.org/tags/tagname/</strong></em>. You can also <a href="/tags/">browse all the content tags</a> and the posts associated with each tag.</li>
  <li>URLs like <em>http://blog.scottlowe.org/categories/#categoryname</em> are now found at <em><strong>http://blog.scottlowe.org/categories/categoryname/</strong></em>. You can also <a href="/categories/">browse all the categories</a> and the posts within each category.</li>
  <li>&ldquo;Paginated&rdquo; URLs like <em>http://blog.scottlowe.org/page101/</em> are no longer present. You can <a href="/archives/">browse the archive of all posts</a>, if you'd like.</li>
  </ul>
  <p>You can also <a href="/">head back home</a> to try finding it again.</p>
</div>

{{ partial "default_foot.html" . }}
