{{ partial "default_head.html" . }}

<div class="post">
  <h1 class="post-title">Post Categories</h1>
  <span class="post-date"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back to <a href="/">Home</a></span>
  <p>Click any of the categories listed below to see all the posts assigned to that category.</p>
  <ul id="list">
      {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
      <li><a href="/categories/{{ $name | urlize }}">{{ $name | title }}</a></li>
      {{ end }}
  </ul>
</div>

{{ partial "default_foot.html" . }}
