{{ partial "default_head.html" . }}

<div class="post">
  <h1 class="post-title">All Posts in Category &ldquo;{{ .Title }}&rdquo;</h1>
  <span class="post-date"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back to <a href="/categories/">Post Categories</a> &middot; <i class="fa fa-rss" aria-hidden="true"></i> <a href="/categories/{{ .Title | lower }}/feed.xml">RSS Feed</a> for this category</span>
  <ul id="list">
    {{ range .Data.Pages }}
      {{ .Render "li" }}
    {{ end }}
  </ul>
</div>

{{ partial "default_foot.html" . }}
