{{ partial "default_head.html" . }}

<div class="post">
  <h1 class="post-title">Content Tags</h1>
  <span class="post-date"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back to <a href="/">Home</a></span>
  <p>Click any of the tags listed below to see a list of all the posts associated with that tag.</p>
  <ul id="list">
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <li><a href="/tags/{{ $name | urlize }}">{{ $name }}</a></li>
      {{ end }}
  </ul>
</div>

{{ partial "default_foot.html" . }}
